# .env.example
NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173

# SQL Server configuration
# Named instance (no port):
# DB_SERVER=sever
# DB_PORT=
# Fixed port (default instance):
DB_SERVER=localhost
DB_PORT=1433

DB_NAME=PlotFarmDB
DB_USER=sa
DB_PASSWORD=s
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
