NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173

# Database configuration
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=PlotFarmDB
DB_USER=sa
DB_PASSWORD=12345
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

# JWT configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

# Gmail SMTP configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@gmail.com
MAIL_APP_PASSWORD=your_16_character_app_password
MAIL_FROM_NAME=PlotFarm
OTP_EXPIRES_MINUTES=5

# VietQR Configuration
VIETQR_BANK_ID=970436
VIETQR_ACCOUNT_NO=0071000998877
VIETQR_ACCOUNT_NAME=CONG TY CP NONG NGHIEP SO PLOTFARM
VIETQR_WEBHOOK_SECRET=plotfarm_vietqr_secret_2026

# VNPay Sandbox Configuration
VNP_TMN_CODE=PLOTFARM01
VNP_HASH_SECRET=RAZYUBZCOMMQJLHUSIAGZJDTRWXZCHUC
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment-return
VNP_IPN_URL=http://localhost:3000/api/v1/payments/vnpay-ipn

# MoMo Sandbox Configuration
MOMO_PARTNER_CODE=MOMO_PLOTFARM
MOMO_ACCESS_KEY=MOMO_ACCESS_KEY
MOMO_SECRET_KEY=MOMO_SECRET_KEY
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:5173/payment-return
MOMO_IPN_URL=http://localhost:3000/api/v1/payments/momo-ipn